* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Tooltip Project css start */
.container {
  width: 1140px;
  margin: 30px auto;
}
.tooltip_wrap {
  text-align: center;
  margin: 50px;
}
.tooltip a {
  text-decoration: none;
  color: black;
  position: relative;
}
.tooltip a i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: aqua;
  border-radius: 50%;
  font-size: 30px;
}
.tooltip span {
  color: black;
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  z-index: 1;
  left: -27px;
  bottom: -60px;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
}
.tooltip a:hover span {
  opacity: 1;
  transform: scale(1) translate(0px, -109px);
}
.tooltip span::after {
  content: "";
  border: 7px solid;
  border-color: black transparent transparent transparent;
  position: absolute;
  left: 46px;
  bottom: -14px;
}
/* Tooltip Project css end */

/* Transition Project css start */
.container_1 {
  width: 1140px;
  margin: 0 auto;
}
.container_1 h1 {
  margin: 30px 0px;
}
.container_1 img {
  max-width: 100%;
}
.transition {
  display: flex;
  justify-content: space-between;
}
.box {
  flex-basis: 33%;
  position: relative;
  z-index: 2;
}
.box::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(0);
  transition: 0.3s;
}
.box:hover::after {
  transform: scale(1);
}
.box .icon {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}
.box .icon i {
  background-color: black;
  position: relative;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  z-index: 3;
  opacity: 0;
  transition-duration: 0.5s;
  transform: scale(0);
}
.box .icon i:nth-child(1) {
  transition-delay: 0.2s;
}
.box .icon i:nth-child(2) {
  transition-delay: 0.4s;
}
.box:hover .icon i {
  opacity: 1;
  transform: scale(1);
}
/* Transition Project css end */
